/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
    margin: 0 5%;
}

.navpluslogo {
    display:flex;
    justify-content: space-between;
}

nav {
    width:100%;
    padding-top: 3%;       
}

nav a {
    padding-right: 10%;
	text-decoration: none;
    color: gray;   
}

.logo{
    padding-top: 2%; 
}

header {
	display:flex;
    justify-content: center;
    border-bottom:2px solid black;

}

.title {
	display:flex;
	flex-direction: column;
    align-items: center;
    padding: 12% 5%;

}

header h2 {
    font-size:80px;
    padding-bottom: 2%;	
}

button {
    border: 1px solid black;
    padding: 2% 12%;
    font-size: 16px;
    background-color: white;
}

.circle {
    padding: 8% 5%;
}

.section1 {
    display:flex;
    padding: 4% 0;   
}

h1 {
	font-size: 50px;	
}

h3 {
	font-size: 18px;
}

.across img {
	width: 100%;
}

.section2 {
    display:flex;
    padding: 4% 0;
    border-bottom: 2px solid black;
}
.features {
    padding-right:2%;
}

.services {
padding-right:2%;
}

.product {
    padding-right:2%;
}

.contact {
	padding: 4% 0%
}

.contact p {
    width:20%;
    padding: 1% 0;
}

footer{
	display:flex;
    justify-content: center;
    padding-bottom: 2%;
}

@media(max-width: 800px){
    /* .container {
        margin: 0 3%;
    } */

    .navpluslogo {
        display:flex;
        flex-direction: column-reverse;
    }

    .logo{
        display:flex;
        justify-content: center;
    }
    nav {
        display:flex;
        justify-content: space-between;
    }

    .circle  {
        display: none;
    }
}

@media(max-width: 500px){
    nav {
        display:flex;
        flex-direction:column;
        border-bottom: 1px solid grey;
        
    }
    nav a {
        border-top: 1px solid grey;
        
        width:100%;
        display:flex;
        justify-content: center;
        padding: 3% 0;
    }
    .section1 {
        display:flex;
        flex-direction: column; 
    }

    .section2 {
        display:flex;
        flex-direction: column;
    }

    .services{
        padding-bottom: 5%;
    }

    .features{
        padding-bottom: 5%;
    }

    .product{
        padding-bottom: 5%;
    }

    .vision{
        padding-bottom: 5%;
    }


}